<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Digital Wisdom{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo_1.jpg') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Navigation Bar -->
    <nav>
        <!-- Navbar Links -->
        <div class="navbar-links">
            <a href="{{ url_for('home') }}">Home</a>
            {% if session.user %}
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search..." class="search-input">
                    <a href="#" class="search-btn">
                            <i class="fas fa-search"></i>      
                    </a>
                </div>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </div>
        
    </nav>
    
    
    <div class="content-container">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    

    <!-- Footer -->
    <div class="container-footer w-container" style="background: #111;">
        <div class="footer-row">
            <div class="footer-column">
                <img src="{{ url_for('static', filename='images/logo_1.jpg') }}" alt="" class="failory-logo-image">
                <h3 class="footer-failory-name">Digital Wisdom</h3>
                <p class="footer-description-failory">A Digital Library</p>
            </div>
            <div class="footer-column">
                <h3 class="footer-titles">Learn</h3>
                <p class="footer-links">
                    <a href="#">Failed Startups</a>
                    <a href="#">Successful Startups</a>
                    <a href="#">Blog</a>
                    <a href="#">Entrepreneurial Tools</a>
                    <a href="#">Startup Cemetery</a>
                    <a href="#">Podcast</a>
                </p>
            </div>
            <div class="footer-column">
                <h3 class="footer-titles">Other</h3>
                <p class="footer-links">
                    <a href="#">Sponsor Us!</a>
                    <a href="#">Open Startup</a>
                    <a href="#">Contribute</a>
                    <a href="#">FAQ</a>
                </p>
            </div>
            <div class="footer-column">
                <h3 class="footer-titles">Follow Us!</h3>
                <div class="social-icons">
                    <a href="#" class="footer-social-network-icons">
                        <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg" alt="Twitter">
                    </a>
                    <a href="#" class="footer-social-network-icons">
                        <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbfe70fcf5a0514c5b1da_Instagram%20Icon.svg" alt="Instagram">
                    </a>
                    <a href="#" class="footer-social-network-icons">
                        <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg" alt="Facebook">
                    </a>
                    <a href="#" class="footer-social-network-icons">
                        <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0002f2b676eb4ba0869_LinkedIn%20Icon.svg" alt="LinkedIn">
                    </a>
                    <a href="#" class="footer-social-network-icons">
                        <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0112f2b6739c9ba0871_Pinterest%20Icon.svg" alt="Pinterest">
                    </a>
                </div>
                <p>Email me at: <strong class="link-email-footer">Lorem Ipsum</strong></p>
            </div>
        </div>
    </div>
    
      

</body>
</html>
